@value makerWhite, makerGrey, makerDarkPurple, makerPurple from '../../common/colors.css';

.labelName {
  display: block;
  font-size: 1rem;
  color: makerGrey;
  margin-bottom: 0.25rem;
}

.input {
  width: 90%;
  border: 1px solid makerGrey;
  outline: none;
  border-radius: 0px;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
}
